body {
  color: black;
  background: #ff7900;
  text-align: left;
  font-family: 'Helvetica', 'Arial', sans-serif;
  padding-top: 20px;
  padding-right: 10%;
  padding-bottom: 0;
  padding-left: 10%; }
  body span {
    background: black;
    color: #ff7900;
    padding-left: 4px;
    padding-right: 4px; }
  body h1 {
    color: black;
    margin-top: 10px;
    margin-bottom: 15px; }
  body h2 {
    color: black;
    margin-top: 10px;
    margin-bottom: 10px; }
  body h3 {
    color: black;
    margin-top: 10px;
    margin-bottom: 0px; }
  body p {
    color: black;
    padding-right: 30px;
    padding-top: 10%; }
  body ul {
    list-style-type: disc; }
  body a {
    text-decoration: underline; }
    body a:hover {
      color: black; }
  body img {
    border-radius: 50%; }
