$background-color: rgb( 255, 121, 0 );
$text-color: rgb( 0, 0, 0 );

body {
  color: $text-color;
  background: $background-color;
  text-align: left;
  font-family: 'Helvetica', 'Arial', sans-serif;
  padding-top: 20px;
  padding-right: 10%;
  padding-bottom: 0;
  padding-left: 10%;

  span {
    background: black;
    color: $background-color;
    padding-left: 4px;
    padding-right: 4px;
  }

  h1 {
    color: $text-color;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  h2 {
    color: $text-color;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h3 {
    color: $text-color;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  p {
    color: $text-color;
    padding-right: 30px;
    padding-top: 10%;
  }

  ul {
      list-style-type: disc;
  }

  a {
    text-decoration: underline;
    &:hover {
      color: $text-color;
    }
  }

  img {
    border-radius: 50%;
  }
}
